body {
	height: 100vh;
	margin: 0;
	background-color: black;
	color: white;
}

#main {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
	height: calc(100% - 200px);
}

#title {
	font-size: 50px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

#description {
	font-size: 20px;
	text-align: center;
	width: 70%;
	margin: auto;
}

a {
	color: white;
}

#inputs, #outputs {
	flex: 1;
	margin: 20px;
	height: 400px;
	display: flex;
	flex-direction: column;
	place-items: center;
}

td {
	padding: 10px;
}

#error {
	text-align: center;
}

button {
	background-color: pink;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 30px;
	width: 100px;
	font-size: 20px;
	cursor: pointer
}

input {
	background-color: rgb(30, 30, 30);
	font-size: 20px;
	border: none;
	border-bottom: 2px solid pink;
	color: white;
	outline: none;
	resize: none;
	padding: 10px;
}

* {
	font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 800px) {
	#main {
		flex-direction: column;
		min-height: 600px;
	}
}